body { background-color: #DDFFDD;
text-align: center; }
#tela {
background-color: black;
border: 1px solid red; }
button {
background-color: #9999EE;
color: white;
border: 1px solid red;
width: 100px;
height: 30px;
font-weight: bold;
cursor: pointer; }
button:hover { background-color: #BBBBFF; }
button:disabled {
background-color: #DDDDDD;
cursor: not-allowed; }