
@font-face {
    font-family: SpriteComic;
    src: url(../fonts/SpriteComic.otf);
}

@font-face {
    font-family: SpriteComic;
    src: url(../fonts/SpriteComic.ttf);
}

body{
	background-color: #DDFFDD;
	text-align: center;
}
#tela{
	background-color: black;
	border: 1px solid red;
}
button{
	background-color: #9999EE;
	color: white;
	border: 1px solid red;
	width: 100px;
	height: 30px;
	font-weight: bold;
	cursor: pointer;
}
button:hover{background-color:#BBBBFF;}
button:disabled{
	background-color: #DDDDDD;
	cursor: not-allowed;
}

#score{
	position: absolute;
	top: -5px;
	left: 30%;
	font-size: 22px;
	font-family: SpriteComic
}

audio{
	display: none;
}