
@font-face {
    font-family: SpriteComic;
    src: url(../fonts/SpriteComic.otf);
}

@font-face {
    font-family: SpriteComic;
    src: url(../fonts/SpriteComic.ttf);
}

body{
	background-color: #DDFFDD;
	text-align: center;
}
#tela{
	background-color: black;
	border: 1px solid red;
	width: 50%;
	height: auto;
}
button{
	background-color: #9999EE;
	color: white;
	border: 1px solid red;
	width: 100px;
	height: 30px;
	font-weight: bold;
	cursor: pointer;
}
button:hover{background-color:#BBBBFF;}
button:disabled{
	background-color: #DDDDDD;
	cursor: not-allowed;
}

#score{
    position: relative;
    top: -12px;
    padding-left: 20px;
    text-align: left;
    font-size: 22px;
    font-family: SpriteComic;
}

.scoreLetter{
    position: relative;
    top: 21px;
    left: -2.25%;
    font-size: 22px;
    font-family: SpriteComic;
}

.scoreCard{
    position: absolute;
    background-image: url("../img/uiScore.png");
    background-repeat: no-repeat;
    height: 100px;
    width: 200px;
    top: 17px;
    left: 4%;
    box-shadow: 0 0 black;
}

audio{
	display: none;
}

.gameOverDisplayNone{
	display: none;
	position: absolute;
	z-index: 40;
	top: 100px;
	left: 500px;
}

.gameOverDisplayShow{
	display: block;
	position: absolute;
	z-index: 40;
	top: 100px;
	left: 500px;
}

.presenters{
	font-size: 15px;
	font-family: cursive;
}

.shortcut-and-info{
	position: absolute;
	right: 20px;
	top: 1%;
}

.shortcuts{
	font-size: 25px;
}

.shortcuts > p{
	font-size: 15px;
	font-family: fantasy;
}

@media (max-width: 1400px) {
	.scoreCard{
		top: 2px;
		left: 40%;
	}
	#tela{
		margin-top: 100px;
	}
	.shortcut-and-info h3{
		font-size: 80% !important;
	}
	.shortcut-and-info p{
		font-size: 60% !important;
	}
}